@if (_editMode)
{
    <label class="container">
        <input type="checkbox" @onclick="StateChange" checked="@Todo.Complete" aria-label="Toggle complete" />
        <span class="checkmark" aria-hidden="true"></span>
        <input type="text" 
               class="edit-label" 
               @bind="_editLabel" 
               @onkeyup="HandleKeyUp" />
        <div class="actions">
            <button type="button" class="icon-btn save" @onclick="ToggleEditMode" @onclick:stopPropagation title="Save">💾</button>
            <button type="button" class="icon-btn delete" @onclick="RemoveTodo" @onclick:stopPropagation title="Delete">✖</button>
        </div>
    </label>
}
else
{
    <label class="container">
        <input type="checkbox" @onclick="StateChange" checked="@Todo.Complete" aria-label="Toggle complete" />
        <span class="checkmark" aria-hidden="true"></span>
        <div class="label-text @(Todo.Complete ? "complete" : string.Empty)">@Todo.Label</div>
        <div class="actions">
            <button type="button" class="icon-btn edit" @onclick="ToggleEditMode" @onclick:stopPropagation title="Edit">🖋</button>
            <button type="button" class="icon-btn delete" @onclick="RemoveTodo" @onclick:stopPropagation title="Delete">✖</button>
        </div>
    </label>
}

@code {
    [Parameter]
    [EditorRequired]
    public Todo Todo { get; set; }
    
    [Parameter]
    [EditorRequired]
    public EventCallback<Todo> OnTodoChanged { get; set; }
    
    [Parameter]
    [EditorRequired]
    public EventCallback<Guid> OnTodoDeleted { get; set; }

    private string _editLabel = string.Empty;
    private bool _editMode;

    private async Task StateChange()
    {
        await OnTodoChanged.InvokeAsync(Todo with { Complete = !Todo.Complete});
    }
    
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "Enter":
                await ToggleEditMode();
                break;
            case "Escape":
                _editMode = false;
                break;
        }
    }

    private async Task ToggleEditMode()
    {
        if (_editMode)
        {
            if (string.IsNullOrWhiteSpace(_editLabel))
            {
                return;
            }

            await OnTodoChanged.InvokeAsync(Todo with { Label = _editLabel });
        }
        else
        {
            _editLabel = Todo.Label;
        }

        _editMode = !_editMode;
    }
    
    private async Task RemoveTodo()
    {
        await OnTodoDeleted.InvokeAsync(Todo.Id);
    }
}
